@import url("https://fonts.googleapis.com/css2?family=K2D&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "K2D", sans-serif;
  color: rgb(var(--white-smoke));
  background-color: rgb(var(--eerie-black));
  height: 100vh;
}
